<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.woodylic.daout.dao.SmsTaskDao">
	<resultMap id="BaseResultMap" type="com.github.woodylic.daout.entity.SmsTask">
		<id column="id" property="id" jdbcType="BIGINT"/>

		<result column="user_id" property="userId" jdbcType="BIGINT"/>
		<result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
		<result column="msg_content" property="msgContent" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="plan_sent_time" property="planSentTime" jdbcType="TIMESTAMP"/>
		<result column="actual_sent_time" property="actualSentTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, user_id, phone_number, msg_content, status, create_date, plan_sent_time, actual_sent_time
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.github.woodylic.daout.entity.SmsTask">
		INSERT INTO tbl_sms_task
		(user_id, phone_number, msg_content, status, create_date, plan_sent_time, actual_sent_time)
		VALUES
		(#{userId, jdbcType=BIGINT}, #{phoneNumber, jdbcType=VARCHAR}, #{msgContent, jdbcType=VARCHAR},
		#{status, jdbcType=INTEGER},
		#{createDate, jdbcType=TIMESTAMP}, #{planSentTime, jdbcType=TIMESTAMP}, #{actualSentTime, jdbcType=TIMESTAMP})
	</insert>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List"/>
		FROM tbl_sms_task
		WHERE id = #{id, jdbcType=BIGINT}
	</select>

</mapper>