<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mockito="http://www.mockito.org/spring/mockito"
       xsi:schemaLocation="
						http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.mockito.org/spring/mockito
						http://www.mockito.org/spring/mockito.xsd">

  <import resource="classpath:spring-web.xml" />

  <!-- 创建一个受Spring管理的todoServiceMock，其它Bean很自然的可以获得注入 -->
  <!-- 已经用annotation方式替换掉 -->
  <!--<mockito:mock id="todoServiceMock" class="com.github.woodylic.todolist.service.TodoService" />-->

</beans>